$bgColorWhite: #fff;
$bgColorMain: #f8f8f8;
$bgButtonCircle: #ff3e79;
$textColorGray: #7e7e82;
$grayLine: #eaeaea;
$borderLG: #b8ffec;
$blueLine: #41f6d7;
$textBlack: #000000;
$textGray: #b5b6bc;
$textWhite: #fff;
