@import '~normalize.css';
@import '../../node_modules/swiper/swiper-bundle.css';
@import '../scss/colors';
@import '../scss/fonts';
@import '../scss/header';
@import '../scss/buttons';
@import '../scss/about';
@import '../scss/asides';
@import '../scss/sliders';
@import '../scss/footer';
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

button:hover {
  @include opacity;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input:focus {
  outline: none;
}
textarea:focus {
  outline: none;
}

.page {
  background: $bgColorMain;
  font-family: 'TT Lakes Medium';
}

.main {
  padding: 16px 0px 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

@media (min-width: 1440px) {
  .main {
    max-width: 1600px;
  }
  .page {
    display: flex;
    justify-content: center;
  }
}

.logo:hover {
  @include opacity;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* полупрозрачный черный */
  z-index: 100; /* слой должен быть под бургер-меню, но над контентом */
  display: none; /* по умолчанию скрыт */
}

.overlay--active {
  display: block;
}
